:root {
    --md-primary-fg-color: #3b76c4; /* Top bar background & side bar text */
    --md-accent-fg-color: #6295d0; /* Top bar background & side bar text */
}

.plotly-graph-div {
    filter: invert(100%) hue-rotate(180deg);
}
